.btm {
    /* border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: white;
    background: none;
    cursor: pointer; */
    /* padding: 25px 80px; */
    /* display: inline-block; */
    /* margin: 15px 30px; */
    /* text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; */
}

.btm:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Pseudo elements for icons */

.btm:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* Icon separator */

.btm-sep {
    /* padding: 25px 60px 25px 120px; */
}

.btm-sep:before {
    background: #b9ffff;
}


/* Button dddCollection */

.btm {
    background: #d3d0d0;
    color: white;
}

.btm:hover {
    background: #004769;
    color: white;
}

.btm:active {
    background: #004769;
    color: white;
    top: 2px;
}

.btm:before {
    /* position: absolute; */
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.btm {
    background: rgb(197, 192, 192);
    width: 100px;
    height: 45px;
    position: absolute;
    margin-top: 0px;
    border-collapse: separate;
    border-radius: 5px !important;
    border: 1px solid rgb(1, 1, 63);
    position: relative;
    color: white;
    padding-left: 50px;
    text-align: center;
}

.btm a {
    text-align: center;
    margin-left: -30px;
}

.dropdown {
    margin-top: -20px;
    margin-left: 100px;
}